<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="menu-wrapper" fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/">Money Manager</a>
            </li>
            <li>
                <a [routerLink]="'/incomes'">Incomes</a>
            </li>
            <li>
                <a [routerLink]="'/expenses'">Expenses</a>
            </li>
        </ul>
    </div>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>    