<div style="width: 100px; height: 100px;">
    <button mat-fab color="primary" class="md-fab-bottom-right" aria-label="Add a new Expense" (click)=openDialog()>
      <mat-icon>add</mat-icon>
    </button>
</div>
<div class="content" fxLayout="row wrap"  fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let expense of expenses; let i = index">
        <mat-card  class="expense-card">
            <mat-card-header class="expense-card-header">
                <mat-card-title >{{ expense.description }}</mat-card-title>
                <mat-card-subtitle>
                    <p>{{ expense.amount | currency }}</p>
                    <p>{{ expense.date | date }}</p>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button (click)="deleteExpense(expense.id, i)">REMOVE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>